.hero-section__container {
  max-width: 1320px;
  width: 100%;
  margin: auto;
  height: 436px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.hero-section {
  background-image: url(hero-image.png);
  height: 504px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
.hero-section__content{
    margin-top:50px;
}
.hero-section h1{
    font-weight: 800;
    font-size: 48px;
    text-align: left;
    margin-bottom:42px;
}
.hero-section__search-field {
  width: 598px;
  font-size: 20px;
  padding:28px 170px 28px 32px;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.07);
  border:none;
  border-radius: 99px;
}

.hero-section__search-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  background: #ff3344;
  padding: 16px 32px;
  font-size: 16px;
  min-width:160px;
  max-height:56px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 99px;
  margin-left:-172px;
}
.hero-section__search-button img {
  margin-right: 10px;
}
.hero-section__search{
    display: flex;
    align-items: center;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
.hero-section__search-button-responsive{
  display: none;
}
@media screen and (max-width: 1400px) {
  .hero-section__container{
    margin-left:20px;
  }
}
@media screen and (max-width: 1024px) {
  .hero-section__search-field{
    width: 398px;
    font-size:16px;
  }
  .hero-section h1{
    font-size:40px;
  }
}
@media screen and (max-width: 700px) {
  .hero-section__search-field{
    width: 50vw;
    font-size:13px;
  }
 .hero-section__content{
   margin-top:150px;
 }
 .hero-section{
   height: 600px;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
 }
  .hero-section h1{
    margin-bottom: 122px;
  }
  .hero-section__search-button{
    content:"";
  }
}
@media screen and (max-width: 500px) {
  .hero-section__search-button-responsive{
    display: block;
    margin-left:-45px;
    border:none;
    background:transparent;
    cursor: pointer;
  }
  .hero-section__search-button{
    display: none;
  }
  .hero-section__search-field{
    width: 35vw;
    font-size:12px;
    padding-bottom: 20px;
    padding-top: 20px;
    align-self:baseline;
  }
 
}
