.featured-properties{
    background-color: #F7F8FA;
}
.featured-properties__container{
    max-width: 1320px;
    width:100%;
    margin:auto;
    padding-top:120px;
    padding-bottom: 164px;
}
.featured-properties__heading{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:56px;
}
.featured-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hovered-list .null{
    filter:opacity(50%);
}
@media screen and (max-width: 1300px) {
    .featured-properties__heading{
        margin-left:50px;
        margin-right:50px;
    }
    .featured-list{
        justify-content: center;
        margin-left:30px;
        margin-right:30px;
    }
  }
  @media screen and (max-width: 1000px) {
    .featured-list{
        justify-content: center;
    }
  }
  @media screen and (max-width: 600px) {
    .featured-list{
        margin-left:20px;
        margin-right:20px;
    }
    .featured-properties__heading a{
        margin-top:20px;
    }
    .featured-properties__heading {
        margin-left:30px;
    }
  }
  @media screen and (max-width: 475px) {
    .featured-list{
        margin-left:10px;
        margin-right:10px;
    }
  
  }
