.featured-properties{
    background-color: #F7F8FA;
}
.featured-properties__container{
    max-width: 1320px;
    width:100%;
    margin:auto;
    padding:120px 120px 164px 120px;
}
.featured-properties__heading{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:56px;
}
.featured-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}