.card-reviews {
  display: flex;
  flex-direction: column;
  background: #f7f8fa;
  max-width: 530px;
  max-height: 424px;
  padding: 48px;
  border-radius: 12px;
}
.card-reviews__rating {
  display: flex;
}
.card-reviews__rating img {
  margin: 0 2px;
}
.card-reviews__rating div {
  margin-right: 10px;
}
.card-reviews__feedback {
  margin: 32px 0 40px 0;
  padding: 16px 0 32px 0;
  font-size: 20px;
  line-height: 32px;
  color: rgba(39, 38, 61, 0.5);
}
.card-reviews {
  text-align: left;
}
.card-reviews__buyer-info p {
  font-size: 16px;
  font-weight: 600;
}
.card-reviews__rating {
  font-size: 20px;
}
@media screen and (max-width: 1300px) {
  .card-reviews {
    max-width: 36vw;
    max-height: 424px;
  }
  .reviews-heading{
    margin-left:50px;
    margin-right:50px;
  }
}
@media screen and (max-width: 1100px) {
  .card-reviews {
    max-width: 33vw;
    max-height: 450px;
  }
  .reviews-heading{
    margin-left:50px;
    margin-right:50px;
  }
}
@media screen and (max-width: 950px) {
  .card-reviews {
    max-width: 30vw;
    max-height: 550px;
  }
}
@media screen and (max-width: 800px) {
  .card-reviews {   
    max-width: 76%;
    max-height: 470px;
  }
}
@media screen and (max-width: 600px) {
  .reviews-heading {
    margin-left: 30px;
    margin-right: 30px;
    align-items: flex-end;
}
}
@media screen and (max-width: 450px) {
  .card-reviews {   
    max-width: 70%;
    max-height: 600px;
  }
}
