.actions-property__details {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 490px;
}

.actions-property__details p {
  margin: 32px 0 60px 0;
  line-height: 160%;
  font-size: 20px;
  text-align: left;
  color: rgba(39, 38, 61, 0.5);

}
@media screen and (max-width: 1200px) {
  .actions-property__details {
    width: 376px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 950px) {
  .actions-property__details {
    width: 75vw;
  }
}
