.footer {
  color: white;
  background: linear-gradient(256.78deg, #4466ee 0%, #27263d 100%);
  text-align: left;
}
.footer__container {
  max-width: 1320px;
  width: 100%;
  margin: auto;
  min-height: 456px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 30% 70%;
}
.footer__navigation {
  text-transform: uppercase;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 20px;
}
.footer__links {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 52px;
}
.footer__links li {
  margin: 24px 0;
}
.footer__copyright {
  font-size: 12px;
  margin-top: 32px;
}
.footer__social-list {
  display: flex;
  width: 216px;
  justify-content: space-between;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  justify-self: center;
  margin-left: -40%;
}

.footer__social {
  padding-top: 50px;
  display: flex;
  width: 75vw;
  justify-content: space-around;
  align-items: baseline;
  justify-self: center;
}
.footer__connection {
  justify-self: center;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 2/3;
}
.footer__connection h3 {
  font-size: 40px;
  font-weight: 800;
  margin: 67px 0 0 0;
}
.footer__subscription form {
  display: flex;
  flex-direction: column;
}
.footer__subscription__email {
  margin: 32px 0;
  background: transparent;
  width: 490px;
  padding: 0 2px;
  font-size: 32px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.footer__bottom {
  display: flex;
  justify-content: space-evenly;
}
.footer__logo {
  margin-left: 20px;
  margin-top: 50px;
  grid-column: 1 /2;
  grid-row: 1/2;
}
.footer__subscription__subscribe {
  font-size: 16px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
  background: white;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  border: none;
  width: 154px;
  cursor: pointer;
}
.footer__girl-icon {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: self-end;
}
@media screen and (max-width: 1300px) {
  .footer__subscription__email {
    width: 320px;
  }
  .footer__connection h3 {
    font-size: 30px;
  }
  .footer__social-list {
    margin-left: -20%;
  }
}
@media screen and (max-width: 970px) {
  .footer__girl-icon {
    display: none;
  }
  .footer__container {
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 30% 70%;
  }
  .footer__social-list {
    grid-column: 2/4;
  }
  .footer__connection {
    grid-column: 2/4;
  }
}
@media screen and (max-width: 600px) {
  .footer__container {
    grid-template-columns: 25% 75%;
    grid-template-rows: 20% 40% 40%;
  }
  .footer__logo {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .footer__social-list {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .footer__social-list img {
    width: 30px;
  }
  .footer__logo img {
    width: 60px;
  }
  .footer__navigation {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .footer__connection {
    justify-self: flex-start;
    padding-left: 20px;
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .footer__connection form {
    flex-direction: row;
  }
  .footer__subscription__subscribe {
    align-self: center;
    padding: 0;
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-bottom:20px;
  }
}
@media screen and (max-width: 475px) {
  .footer__connection h3 {
    font-size: 20px;
  }
  .footer__subscription__email {
    width: 230px;
    font-size: 20px;
  }
}
