.footer {
  color: white;
  background: linear-gradient(256.78deg, #4466ee 0%, #27263d 100%);
  text-align: left;
}
.footer__container {
  max-width: 1320px;
  width: 100%;
  margin: auto;
  min-height: 456px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__navigation {
  text-transform: uppercase;
}
.footer__links {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 52px;
}
.footer__links li {
  margin: 24px 0;
}
.footer__copyright {
  font-size: 12px;
  margin-top: 32px;
}
.footer__social-list {
  display: flex;
  width:216px;
  justify-content: space-between;
  margin:0;
}
.footer__social{
  padding-top:50px;
  display: flex;
  width: 75vw;
  justify-content: space-around;
  align-items: baseline;
}
.footer__connection {
  display: flex;
  flex-direction: column;
}
.footer__connection h3 {
  font-size: 40px;
  font-weight: 800;
  margin: 67px 0 0 0;
}
.footer__subscription form {
  display: flex;
  flex-direction: column;
}
.footer__subscription__email {
  margin: 32px 0;
  background: transparent;
  width: 490px;
  padding: 0 2px;
  font-size: 32px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.footer__bottom{
  display: flex;
  justify-content: space-evenly;
}
.footer__subscription__subscribe {
  font-size: 16px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
  background: white;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  border: none;
  width: 154px;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .footer__subscription__email{
    width:320px;
  }
  .footer__connection h3{
    font-size:30px;
  }
}
@media screen and (max-width: 970px) {
 .footer__girl-icon{
   display: none;
 }
}
@media screen and (max-width: 475px) {
  .footer__connection h3{
    font-size:20px;
  }
  .footer__subscription__email{
    width:230px;
    font-size:20px;
  }

}


